{% extends 'base.html.twig' %}


{% block body %}
<section id="search_page">

    <div class="container-fluid search_page">
    {% if movies is not empty %}
        {% for movies in movies %}
        <div class="row row_descritpion_search pt-5 pb-5">
            <div class="col-2">
                <a href="{{ path('movie_serie_show', {'id': movies.id}) }}"><img src="{{ asset('images/uploads/' ~ movies.imgAffiche ) }}" id="affiche_search_page"></a>
            </div>
            <div class="col-8 search_descritption">
                <a href="{{ path('movie_serie_show', {'id': movies.id}) }}"><h2 class="text-white">{{movies.title}}<span class="small_font">({{ movies.dateSortieAt ? movies.dateSortieAt|date('Y') : '' }})<span></h2>
                <div class="text-grey mt-2">{{movies.description}}</div></a>
                <div class="mt-5 ou_regarder">
                    <p class="text-grey uppercase m-1">regarder maintenant :</p>
                    <a href="{{ movies.lienRedirection }}" target="_blank">
                    {% if movies.plateforme == 'prime_video' %}
                    <img src="{{ asset('images/logo/prime_video.png') }}" class="icon_plateforme_show_movie m-2">
                    {% elseif movies.plateforme == 'netflix' %}
                    <img src="{{ asset('images/logo/netflix.svg') }}" class="icon_plateforme_show_movie m-2">
                    {% elseif movies.plateforme == 'disney' %}
                    <img src="{{ asset('images/logo/disney.png') }}" class="icon_plateforme_show_movie m-2">
                    {% elseif movies.plateforme == 'youtube' %}
                    <img src="{{ asset('images/logo/youtube.jpg') }}" class="icon_plateforme_show_movie m-2">
                    {% endif %}
                    </a>
                </div>
            </div>
        </div>
        <hr style="color: #4c5a67;">
        {% endfor %}
    {% else %}
    <p class='text-white text-center'>Aucun résultat</p>
    {% endif %}
    </div>
</section>

{% endblock %}
