{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<style>
.div-plateforme input{
    margin-right: 15px;
    margin-left : 5px;
    margin-top: 15px;
}
.bg-dark {background-color:#1e272e!important;
}
body{background-color:#0E1111!important;
}
.btn-success{
  background-color:#1dd1a1!important;
}
.bg-secondary {background-color: #989898!important;
}
 
  
</style>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
   
<div class="container">
<hr>
<div class="row justify-content-center ">
<div class="col-md-6">
<div class="card text-white bg-dark mb-3" >
<header class="card-header">
	<h4 class="card-title mt-2">S'inscrire</h4>
</header>
<article class="card-body">
{{ form_start(registrationForm) }}

    <div class="form-row"> {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
		<div class="col form-group">	
	    </div> <!-- form-group end.// -->
    </div>
    
    <div class="form-row"> {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
		<div class="col form-group">
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->

	<div class="form-row"> {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
		<small class="form-text text-muted">Vos données personnelles ne sont pas partagées.</small>
	</div> <!-- form-group end.// -->
    <br>
    <div class="form-group "> 
    {{ form_row(registrationForm.plateforme, {'attr': {'class': 'div-plateforme'}}) }}
    <br>	
     <div class="form-row"> {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
		<div class="col form-group">
		</div> 	
	</div> 
    <br>
    {{ form_row(registrationForm.agreeTerms) }}
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-success"> Enregistrer  </button>
    </div> <!-- form-group// -->      
    <small class="text-muted">En cliquant sur le bouton 'Enregistrer', vous confirmez que vous acceptez nos <br> Conditions générales et la Politique de confidentialité.</small>                                          
{{ form_end(registrationForm) }}
</article> <!-- card-body end .// -->
<div class="border-top card-body text-center">Déjà membre ? <a href="{{path('app_login')}}">Se connecter</a></div>
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div> 
<!--container end.//-->

<br><br>
<article class="bg-secondary mb-3">  

<br><br>
</article>
    

    

       
       
    
{% endblock %}
