<header>
       <nav class="p-3 navbar navbar-expand-lg navbar-light bg-darkCustom">
            <div class="container-fluid d-flex">

                {# LOGO #}
                <div class="containerCustom col-2">
                    <a class="navbar-brand" href="{{ path('home')}}">

                        <img src="{{asset('images/logo/logo_w2w.png')}}" alt="logo">
                    </a>
                </div>

                {#  BARRE DE RECHERCHE #}
                <div class="d-flex justify-content-start col-10 ml-5" id="form_search">
                {{ form_start(formSearch, {'action': path('search'), 'method': 'POST', 'attr': {'class': 'form_search'}}) }}
                        <div class="input-group">
                            <div class="form-outline">
                                {{ form_widget(formSearch.titles, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <button type="submit" class="btn btn-primary" id="button_search">
                                <i class="fas fa-search" id="icon_button_search"></i>
                            </button> 
                        </div>
                {{ form_end(formSearch) }}
                </div>
             </div>
               
                

                <div class="containerCustom">
                {# BUTTON BURGER #}
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    id="burger" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>


                {# NAVIGATION ITEMS #}
                <div class="collapse navbar-collapse my-3 justify-content-end" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 d-flex justify-content-end mb-lg-0" id="nav-item-content">
                        <li class="nav-item text-grey-custom">
                            <a class="nav-link active text-grey-custom" aria-current="page" href="{{ path('home')}}"><i class="bi bi-house-door" title="Accueil"></i><span class="d-none-responsive">Accueil</span> </a>
                        </li>

                        {# <li class="nav-item text-grey-custom"> #}
                        {% if app.user  %}
                          <li class="nav-item text-grey-custom"><a class="nav-link active text-grey-custom" aria-current="page" href="{{path('user_show')}}" title="Mon profil"><i class="bi bi-person"></i><span class="d-none-responsive">Mon profil</span></a></li>
                          <li class="nav-item text-grey-custom">  <a class="nav-link active text-grey-custom" aria-current="page" href="{{path('app_logout')}}" title="Se deconnecter"><i class="bi bi-x-circle"></i><span class="d-none-responsive">Se deconnecter</span></a></li>
                        {% else %}
                          <li class="nav-item text-grey-custom">  <a class="nav-link active text-grey-custom" aria-current="page" href="{{path('app_login')}}" title="Se connecter"><i class="bi bi-person"></i> <span class="d-none-responsive">Se connecter</span> </a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                          <li class="nav-item text-grey-custom"><a class="nav-link active text-grey-custom" aria-current="page" href="{{path('movie_serie_new')}}"><i class="bi bi-plus-circle" title="Ajouter un film ou une série"></i></i> <span class="d-none-responsive">Ajouter un film ou une série</span> </a></li>
                        {% endif %}
                    </ul>
                    
                </div>
            </div>
        </nav>
        
                                    {# Button-position-absolute- #}

        <label class="switch">
          <input type="checkbox" onclick="darkLight()" id="checkBox" >
          <span class="slider"></span>
        </label>
        

</header>